div.btn-group

  button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
    span Menu 
    span.caret

  ul.dropdown-menu(role='menu')
    li
      a(href=url.base+'#/index') Home
    li.divider
    li
      a(href=url.base+'#/map') Maps
    li.divider
    li
      a(href=url.base+'#/account') Account
    li
      a(href=url.base+'#/account/list') Accounts
    li
      a(href=url.base+'#/post') Post



